<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Gear Box API - Docs</title>
    <link rel="stylesheet" href="https://unpkg.com/swagger-ui-dist@5/swagger-ui.css" />
    <link rel="stylesheet" href="/views/styles/docs.css" />
  </head>
  <body>
    <nav class="backbar">
      <a class="btn" href="/">← Início</a>
      <a class="btn" href="/guide">Guia de uso</a>
      <a class="btn primary" href="/docs/openapi.yaml">Baixar YAML</a>
    </nav>
    <div id="swagger-ui"></div>
    <script src="https://unpkg.com/swagger-ui-dist@5/swagger-ui-bundle.js"></script>
    <script src="/views/js/docs.js"></script>
  </body>
</html>
